@(planoDeCurso: PlanoDeCurso);

@import helper._ 

<br>
@main("Meu curso") {
</br>

<head>
	<script type="text/javascript" src="assets/javascripts/jQuery/jquery-1.8.3.js"></script>
	<script type="text/javascript" src="assets/javascripts/jQuery/jquery-ui-1.9.2.custom.js"></script>
	<script type="text/javascript" src="assets/javascripts/jQuery/jquery.confirm.min.js"></script>
	<script type="text/javascript" src="assets/javascripts/jQuery/jquery.confirm.js"></script>
	<script type="text/javascript" src="assets/javascripts/scripts.js"></script>
	
	<div class="titulo">
		<br>
			<nome-principal>Simulador de Fluxograma</nome-principal>
		</br>
	</div>

</head>

<body>
	
	<div id ="divPrincipal" class="wrapper">
		<div id="botoes">

			<button id="1" type="button" onclick="alterTable(1)" class="btn"><b>1º Período</b></button>
			<button id="2" type="button" onclick="alterTable(2)" class="btn"><b>2º Período</b></button>
			<button id="3" type="button" onclick="alterTable(3)" class="btn"><b>3º Período</b></button>
			<button id="4" type="button" onclick="alterTable(4)" class="btn"><b>4º Período</b></button>
			<button id="5" type="button" onclick="alterTable(5)" class="btn"><b>5º Período</b></button>
			<button id="6" type="button" onclick="alterTable(6)" class="btn"><b>6º Período</b></button>
			<button id="7" type="button" onclick="alterTable(7)" class="btn"><b>7º Período</b></button>
			<button id="8" type="button" onclick="alterTable(8)" class="btn"><b>8º Período</b></button>
			<button id="9" type="button" onclick="alterTable(9)" class="btn"><b>9º Período</b></button>
			<button id="10" type="button" onclick="alterTable(10)" class="btn"><b>10º Período</b></button>

		</div>
		<div id="colunasDeDisciplinas">
			<div id="periodoAtual" class="coluna">
				<br></br><br><br/>
					 <titulo>1º Período</titulo>
				    	   <ul id="list1" class="sortable-list">
					                @for(disciplina <- planoDeCurso.getDisciplinasDoPeriodo(1)){
					                    <li id=@disciplina.getNome() class="descricaoDeDisciplinaAlocada">
						                     <nome>@disciplina.getNome()</nome>
						                     <totalDeCreditosDaDisciplina>@disciplina.getCreditos()</totalDeCreditosDaDisciplina><text> créditos</text>
						                </li>
					                }
						   </ul>
						   <creditos> Créditos : <totalDeCreditos>@planoDeCurso.getTotalDeCreditosDoPeriodo(1)</totalDeCreditos></creditos> 
			</div>
			<div id="disciplinasNaoAlocadas" class="coluna">
				<br></br><br><br/>
					<titulo>Disciplinas não alocadas</titulo>
						<ul id="listaDeDisciplinasNaoAlocadas" class="sortable-list">
							@for(disc <- planoDeCurso.getDisciplinasNaoAlocadas()){
								 <li id=@disc.getNome() class="descricaoDeDisciplinaNaoAlocada">
				                       <nome>@disc.getNome()</nome>
				                       <totalDeCreditosDaDisciplina id=@disc.getCreditos()>@disc.getCreditos()</totalDeCreditosDaDisciplina><text> créditos</text>
				                 </li>
							}
						</ul>
			</div>
		</div>
		
	</div>
</body>
}