nome {
	color: #153e63;
	font-size: 15px;
	font-weight: bold;
}

descricaoDeDisciplina, text{
	font-size: 12px;
}

creditos {
	color: #456A8B;
	font-size: 20px;
	font-weight: bold;
}
titulo, diciplinas-ofertadas {
	color: #456A8B;
	font-size: 20px;
	font-weight: bold;
}

nome-principal {
	color: #FFFFFF;
	font-size: 40px;
	font-weight: bold;
}

.body-back {
	background-color: #153e63;
}

.wrapper {
	font-family: arial;
	max-width: 1300px;
	margin : auto;
	padding-top: 10px;
	padding-bottom: 20px;
	height:100%;
}

#content {
	padding-top: 80px;
	padding-bottom: 30px;
}

.titulo {
	width: 100%;
	margin-bottom: 10px;
	text-align: center;
}

.sortable-list{
    padding: 10px;
}

#colunasDeDisciplinas {
	margin-top:50px;
	margin-bottom:10px;
	height: 600px;
	width: 1280px;
	margin-left:30px;
}

.coluna {
	background-color: #d8e2eb;
	float: left;
	height: 600px;
	width: 600px;
	margin-left:15px;
	border-radius: 10px;
	text-align: center;
	overflow:auto;
}

#botoes{
	margin-left:auto;
	margin-right:auto;
	width:60%;
}

.descricaoDeDisciplina{
	width: 480px;
}
.disciplina{
	width: 138px;
}

.disciplina, .descricaoDeDisciplina, .btn {
	background-color: #FFFFFF;
	margin:auto;
	margin-top:6px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
}

.periodoButton {
	margin-left : 20;
	float:left;
}

.disciplina:hover {
	background-color: #b2cfe9;
}

.float-left {
	float: left;
	margin-left: 10px;	
}
